<div class="jumbotron">   
	<h1>Minhas Tarefas
		<br>
	</h1>
</div>
<div>
		<% if @tasks.present? %>
			<table class="table">
				<tr>
			    <th>Tarefa</th>
			    <th>Status</th>
			    <th>Ação destrutiva!</th>
			  </tr>
			<% @tasks.each do |task| %>
			  <tr>  
					<td><%= task.title %></td>
					<td><%= 'Finalizada' if task.status.present?  %></td>
					<td><%= link_to 'Remover', list_task_path(@list, task),
                    method: :delete, data: { confirm: 'Quer mesmo deletar essa tarefinha?' }, :class => "btn btn-default btn-xs" %>
              <%= link_to 'Editar', list_task_path(@list, task), :class => "btn btn-default btn-xs" %>
              <%= link_to 'Feito!', list_task_path(@list, task), method: :patch, :class => "btn btn-default btn-xs" %></td>          
				</tr>
			<% end %>	
			</table>
		<% else %>
			<p>Adicione novas tarefas!</p>
		<% end %>	

		<%= simple_form_for @task, :url => list_tasks_path(@list) do |f| %>
			<%= f.input :title %>
			<%= f.button :submit, "Adicionar tarefa", :class => "btn btn-default" %>
		<% end %> 

</div>