<div class="jumbotron">   
	<h1><%= t 'tasks.list_title', list_name: @list.name %>
		<br>
		<small><%= t 'tasks.title' %>&nbsp;&nbsp<%= link_to (t 'generic_list.favorite'), favorite_list_path(@list), method: :patch, class: "btn btn-default" %></small>
	</h1>
</div>
<div>
	<p><%= t 'tasks.owner', owner: @list.user.email %></p>
	<% if @list.user == current_user %>
		<%= simple_form_for @task, url: list_tasks_path(@list), remote: true do |f| %>
			<div class="input-group">
				<%= f.input_field :title, placeholder: (t 'tasks.new_placeholder'), class: "form-control", autofocus: true %>
				<span class="input-group-btn">
					<%= f.button :submit, (t 'tasks.new'), class: "btn btn-default" %>
				</span>	
			</div>	
		<% end %> 
	<% end %>	
	<br>
	<table class="table">
		<% if @tasks.present? %>			
			<% @tasks.each do |task| %>
				  <%= render 'task_line', task: task %>
			<% end %>	
		<% end %>	
	</table>
</div>