<table class="table">
			<tr>
		    <th><%= t 'generic_list.task_name' %></th>
		    <th><%= t 'generic_list.privacy_type' %></th>
		    <th></th>
		  </tr>
		<% lists.each do |list| %>
		  <tr>  
				<td><%= link_to list.name, list_tasks_path(list) %></td>
				<td><%= list_privacy(list) %></td>
				<td>
				<% if belongs_to_user(list) %>
					<%= link_to (t 'generic_list.remove') , list_path(list),
	                  method: :delete, data: { confirm: (t 'generic_list.remove_message') }, class: "btn btn-default btn-xs" %>
	        <%= link_to (t 'generic_list.make_public'), list_path(list), method: :patch, class: list.private ? "btn btn-default btn-xs" : "btn btn-default btn-xs disabled" %>
	      <% end %>
	      </td>  
			</tr>
		<% end %>	
		</table>